name: CI/CD Pipeline MLOps Renn

# Kapan robot ini bekerja? Setiap kali ada Push ke branch master
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  # TUGAS 1: TEST & TRAINING OTOMATIS
  build-and-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r Membangun_model/requirements.txt

      - name: Run Model Training & Track to DagsHub
        # Di sini kita suntikkan Rahasia dari GitHub ke dalam script Python
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python Membangun_model/modelling.py

  # TUGAS 2: BUILD DOCKER & PUSH KE DOCKER HUB
  build-push-docker:
    needs: build-and-train # Hanya jalan kalau training sukses
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # Nama imagenya otomatis pakai username dockerhub kamu
          tags: ${{ secrets.DOCKER_USERNAME }}/submission-mlops-renn:latest
