name: Preprocessing Pipeline

on:
  push:
    branches:
      - master
      - main
    paths:
      - preprocessing/**
      - credit_risk_raw/**

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas scikit-learn

    - name: Run preprocessing
      run: |
        cd preprocessing
        python automate_Renn.py

